button{
    background-color: rgb(38, 38, 85);
    color: rgb(214, 104, 20);
    padding: 10px 10px;
    text-align: center;
    display:inline-block;
    font-size: 16px;
    border:none;
    width: 10%;
}